@{
    ViewData["Title"] = "About Me";
}
<h2>@ViewData["Title"]</h2>

<p>Actuellement en contrat à durée déterminée, je suis curieux un peu touche à tout.</p>
<p>Ayant acquis dans le cadre de mes études, une bonne maîtrise des langages de programmation ainsi que de solides compétences dans la gestion des systèmes d'information, de plus j’ai remporté la deuxième place d’un hackathon de sécurité informatique avec une équipe composée de 6 personnes et participer à de nombreux CTF.</p>
<p>Mais, Ce qui me différencie des autres développeur c'est ma capacité à me poser des questions inutiles mais, qui force à la créativité comme :  à partir de combien de pierre ces pierres deviennent un tas de pierres ? (Bonne Question) et ma capacité à trouver des solutions à des problèmes inexistants. De ces faits je suis un développeur comme les autres mais, avec une touche de créativité.</p>
