@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    21 rue stendhal<br />
    61000 Alençon<br />
    <abbr title="Phone">P:</abbr>
    0695062979
</address>

<address>
    <strong>Email:</strong> <a href="mailto:omar.bahjaoui@outlook.fr">omar.bahjaoui@outlook.fr</a><br />
</address>
