@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <img src="~/images/banner_1.jpg" class="img-responsive" />
            <div style="position:  absolute;color:white;border: 3px solid white;border-radius: 2px;margin-top: -168px;width:  15%;height: 38%;z-index:  5;"; >
                <img src="~/images/photoCV.jpg" class="img-responsive"  />
            </div>
            <div class="carousel-caption" role="option">
                <p>
                    Réalisation d’une attaque BMS. Mon équipe avons remporté le prix de la deuxième place au Hackathon.
                    <a class="btn btn-default" href="https://www.portesdenormandie.cci.fr/3-et-4-decembre-evreux-hackathon-les-defis-securite">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Compétences</h2>
        <ul>
            <li>Langages </li>
            <ul>
                <li> C/C++</li>
                <li>Arduino (C/C++)</li>
                <li>Java</li>
                <li>Android</li>
                <li>Arduino (C/C++)</li>
                <li>C#</li>
                <li>.NET</li>
                <li>ASP.NET</li>
                <li>JS</li>
                <li>HTML5</li>
                <li>TypeScript</li>
                <li>CSS3</li>
                <li>PYTHON</li>
                <li>NodeJS</li>
            </ul>

            <li>Base de Données</li>
            <ul>
                <li>LINQ</li>
                <li>ORACLE SQL Developer</li>
                <li>Microsoft SQL Server</li>
                <li>Maria-DB</li>
            </ul>
            <li>Framework/SDK</li>
            <ul>
                <li>.NET Framework</li>
                <li>XAMARIN</li>
                <li>Wikitude</li>
                <li>Vuforia</li>
            </ul>
            <li>Engines</li>
            <ul>
                <li>Unity 3D</li>
                <li>Unreal Engine</li>
            </ul>
            <li>Systèmes d'exploitation</li>
            <ul>
                <li>UNIX/LINUX</li>
                <li>MacOS</li>
                <li>Windows XP/7/8/10</li>
            </ul>
            <li>Langues</li>
            <ul>
                <li>Français, Langue natale</li>
                <li>Anglais, TOEIC : 815</li>
            </ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Formation</h2>
        <ul>
            <li>
                2014 - 2017
            </li>	
            <ul>
                <li>
                    Bachelor en Technologies de l’information Epitech Rennes - Ecole de l’Innovation et de l'Expertise Informatique
                </li>
            </ul>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>EMPLOIS/STAGES</h2>
        <ul>
            <li><a href="https://www.audiospot.fr/fr/">AudioSpot - Start'up</a></li>
            <ul>
                <li>
                    Réalisation de la partie réalité augmentée pour une application en xamarin avec wikitude.
                </li>
            </ul>
            <li><a href="http://www.algoria.com/fr/">Algoria- Start’up</a></li>
            <ul>
                <li>
                    Réalisation de la cryptographie des données sensible à l’enregistrement de l’utilisateur du CMS côtés serveur en C# et automatisation de l’installation de carte embarqué basé sur yocto en nodejs et en bash.
                </li>
            </ul>
            <li><a href="https://www.lavoix.eu/fr">LAVOIX - Entreprise</a></li>
            <ul>
                <li>
                    Réalisation de projets métier lié à la propriété industrielle en .NET, ASP.NET, VBA, C#.
                </li>
            </ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Projets</h2>
        <ul>
            <li><a href="https://www.portesdenormandie.cci.fr/3-et-4-decembre-evreux-hackathon-les-defis-securite">Hackathon - Smart’Up défis sécurités</a></li>
            <ul>
                <li>
                    Réalisation d’une attaque BMS c’est-à-dire s’introduire dans un système	de contrôle de bâtiment pour l’espionner. Mon équipe et moi avons remporté arrivés le prix de la deuxième place au Hackathon.

                </li>
            </ul>
            <li><a href="https://fr.wikipedia.org/wiki/Shell_Unix">Epitech - 42sh</a></li>
            <ul>
                <li>
                    Réalisation d’un shell en C pour linux.
                </li>
            </ul>
            <li><a href="https://fr.wikipedia.org/wiki/Core_War">Epitech - Corewar</a></li>
            <ul>
                <li>
                    Réalisation d’un compilateur assembleur en C et d’une machine virtuel qui sert d'arène au programme fait en assembleur.
                </li>
            </ul>
        </ul>
    </div>
</div>
